<div id="<%= dom_id category %>">
  <p>
    <strong>Title:</strong>
    <%= category.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= category.type %>
  </p>

  <p>
    <strong>Created_At:</strong>
    <%= category.created_at %>
  </p>
  <p>
  <strong>Updated_At:</strong>
  <%= category.updated_at %>
</p>



</div>
